// VARIABLES
@use "../utilities/variables" as *;
// MIXIN
@use "../utilities/mixin" as *;

@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo{
        img{
            width: 70px;
            margin-bottom: 10px;
        }
    }

    .buscador{
        width: 80%;
    }

    .productos-uno{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "imagen-uno"
        "imagen-dos"
        "imagen-tres"
        "imagen-cuatro"
        "imagen-cinco"
        "imagen-seis";

    }

    .imagen-cinco{
        grid-area: imagen-cinco;
    }

    .imagen-seis{
        grid-area: imagen-seis;
    }
}