// con parametros


// sin parametros
@mixin header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    background-color: #a0a0a0;
    cursor: default;
}

@mixin input{
    width: 90%;
    max-width: 400px;
    padding: 8px 12px;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
}

@mixin card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #a0a0a0;
    padding: 20px;
    text-align: center;
    width: 100%;
}