// VARIABLES
@use "../utilities/variables" as *;

// MIXIN
@use "../utilities/mixin" as *;

/* estilos del header */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    background-color: $fondo-bg;
    cursor: default;
}

/* buscador */
.buscador{
    @include buscador;
    input{
        width: 90%;
        max-width: 400px;
        padding: 8px 12px;
        position: relative;
        justify-content: center;
        box-sizing: border-box;
    }
}

/* logo */

.contenedor{
    @include contenedor;
}

.logo{
    @include logo;
    img{
        display: block;
        width: 80px;
        height: auto;
        position: relative;
        bottom: 1rem;
    }
}

/* menu */
.menu{
    @include menu;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    li{
        a{
            text-decoration: none;
            color: #900;
            font-weight: bold;
        }
    }
}